= form_for @group do |f|
  - if @group.errors.any?
    .chat-group-form__errors
      - @group.errors.full_messages.each do |message|
        %li= message
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right{id: "chat-member"}
      %input{class: "chat-group-form__input", id: "user-search-field", placeholder: "追加したいユーザー名を入力してください", type: "text"}
      = hidden_field_tag "group[user_ids][]", current_user.id
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right.chat-group-form__field--right--member
  .chat-group-form__field.clearfix
    .chat-group-form__field--right
      = f.submit 'SAVE', class: "chat-group-form__action-btn"

